<nz-spin [nzSpinning]="isSpinning">
    <div id="topic" *ngIf="!isSpinning">
        <div class="topic_header">
            <span class="topic_full_title">
                <span *ngIf="json.good" class="put_top">精华</span>
                <span *ngIf="json.top" class="put_top">置顶</span>
                {{json.title}}
            </span>
            <div class="changes">
                <span>发布于  {{json.create_at | time1}}</span>
                <span> 作者 <a href="#" *ngIf="json.author">{{json.author.loginname}}</a></span>
                <span>{{json.visit_count}} 次浏览</span>
                <span>最后一次编辑是 {{json.last_reply_at | time1}}</span>
                <span> 来自 分享</span>
            </div>
        </div>
        <div id="content" #myattr [innerHTML]="json.content"></div>
    </div>

    <div class="panel" *ngIf="json.replies">
        <div class="panel_header" *ngIf="json.replies.length">
            {{repliesNum}}回复
        </div>
        <div class="cell" *ngFor="let j of json.replies;let i=index;" [ngStyle]="{'background':i/2===0?'#f4fcf0':'#fff'}">
            <div>
                <nz-avatar [nzSrc]="j.author.avatar_url" [nzShape]="'square'"></nz-avatar>
            </div>
            <div style="width:100%;margin-left:10px;">
                <p style="width:100%;"><span class="reply_author">{{j.author.loginname}} </span><a class="reply_time">{{i+1}}楼 {{j.create_at | time1 }}</a> <span style="float:right;" *ngIf="j.ups.length"><i nz-icon type="like" theme="outline"></i><span >{{j.ups.length}}</span></span></p>
                <div class="markdown-text" [innerHTML]="j.content"></div>
            </div>
        </div>
    </div>
</nz-spin>
