.formStyle{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width:300px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.login-form-forgot{
    float: right;
}
