<div id="layout">
    <header id="header">
        <div class="header-cen">
            <a href="" class="brand">
                <img src="https://cnodejs.org/public/images/cnodejs_light.svg" alt="">
            </a>
            <div class="tabs">
                <ul>
                    <li>首页</li>
                    <li>新手入门</li>
                    <li>API</li>
                    <li>关于</li>
                    <li>注册</li>
                    <li>登录</li>
                </ul>
            </div>
        </div>
    </header>
    <div id="main">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <div class="asider">12</div>
    </div>
    <div id="footer"></div>
</div>
