<div id="layout">
    <header id="header">
        <div class="header-cen">
            <a href="" class="brand">
                <img src="https://cnodejs.org/public/images/cnodejs_light.svg" alt="">
            </a>
            <div class="tabs">
                <ul>
                    <li (click)="handleGoRouter('/cnode/home')">首页</li>
                    <li (click)="handleGoRouter('/cnode/getstart')">新手入门</li>
                    <li (click)="handleGoRouter('/cnode/api')">API</li>
                    <li (click)="handleGoRouter('/cnode/about')">关于</li>
                    <li>注册</li>
                    <li>登录</li>
                </ul>
            </div>
        </div>
    </header>
    <div id="main">
        <div class="content">
            <router-outlet></router-outlet>
        </div>
        <div class="asider">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <div id="footer">
        <app-footer></app-footer>
    </div>
</div>
