<nz-layout class="layout">
    <nz-header>
        <app-heade></app-heade>
    </nz-header>
    <nz-layout>
        <nz-sider>
            <app-menu (onRemoveElement)="handleOn($event)"></app-menu>
        </nz-sider>
        <nz-content class="layout-content">
            <div class="setting-drawer__handle" [ngStyle]="{'right': right}" (click)="open()">
                <i nz-icon type="setting" theme="outline" *ngIf="!visible" ></i>
                <i nz-icon type="close" theme="outline" *ngIf="visible"></i>
            </div>
            <nz-breadcrumb [nzAutoGenerate]="false"></nz-breadcrumb>

            <nz-tabset [nzType]="'card'" [nzSize]="'large'" [nzSelectedIndex]="selectedIndex" *ngIf="tabs.length">
                <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate" (nzClick)="handleTab(tab.path)">
                    <ng-template #titleTemplate>
                      <div>
                        {{ tab.name }}
                        <i nz-icon type="close" (click)="closeTab(tab)" class="ant-tabs-close-x"></i>
                      </div>
                    </ng-template>
                </nz-tab>
            </nz-tabset>
            <router-outlet ></router-outlet>
            <nz-drawer [nzClosable]="false" [nzVisible]="visible" [nzWidth]="400" nzPlacement="right" [nzMaskClosable]="'false'" nzTitle="Basic Drawer" >
                  <p>Some contents...</p>
                  <p>Some contents...</p>
                  <p>Some contents...</p>
            </nz-drawer>
        </nz-content>
    </nz-layout>
</nz-layout>
